*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail-container{
    margin: 0;
}

.detail-item-container{
    background-color: #000;
}

.titulo-detail{
    text-align: center;
    font-size: 35px;
    margin-bottom: 1em;
}


.detail-precio{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.5em;
}

.boton-hand{
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: orange;
    border: 1px solid #000;
    margin-left: 1em;
    color: #000;
    font-size: 1.2em;
    
}

.contador2{
    text-align: center;
    margin-top: 2em;
    font-size: 20px;
    display: block;
    
}

.imgF{
    width: 120px;
    height: 120px;
    margin-left: 2em;
    padding-bottom: 20px;
}



